{% extends 'base.html' %}
{% block title %}{{ task.text_description }}{% endblock %}
{% block h2 %}{{ task.text_description }}{% endblock %}
{% block main %}
    <div class="div mt-3">
        <p>
            <strong>Sequencial: </strong>{{ task.pk }}
            &emsp;
            <strong>Previsão de Entrega: </strong>{{ task.date_register|date:"SHORT_DATETIME_FORMAT" }}
            &emsp;
            <strong>Previsão de Entrega: </strong>{{ task.date_delivery|date:"SHORT_DATETIME_FORMAT" }}
            &emsp;
            <strong>Data de Conclusão: </strong>{{ task.date_complete|date:"SHORT_DATETIME_FORMAT"|default:"-" }}
        </p><br>
        <p><Strong>Texto da Tarefa: </Strong></p>
        <textarea>{{ task.text_description }}</textarea>
    </div>

{% endblock %}